@media (orientation: portrait) {
    #logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        padding: 10px;
    }

    #scheduleHeader {
        margin-top: 10px;
        font-size: 24px;
        width: 90%
    }
    #scheduleWelcome {
        margin-top: 0px;
    }

    #loginStatusLeft {
        font-size: 20px;
    }
    #loginInput {
        width: 90%
    }
    #background {
     height: 100%;
     width: auto;
     opacity: .2;
    }
}